## pandas练习

In [2]:
import pandas as pd

##### 打开csv文件

In [3]:
fpath='./data/spider.csv'
#以可读方式打开csv文件
df1 = pd.read_csv(fpath)
df1

,2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌,216,1392.6800
0,2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志,273.0,1447.17
1,2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...,NaN,NaN
2,2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志,52.0,337.27
3,2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...,NaN,NaN
4,2015-5-28,http://www.favolist.com/,屋顶;温岚;80;励志,217.0,903.29
...,...,...,...,...,...
1390,2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志,87.0,927.30
1391,2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感,31.0,684.56
1392,2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志,47.0,1419.74
1393,2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志,124.0,1434.67
1394,2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感,103.0,1020.50

In [4]:
#header=None意思是取消表头，names是每一列的标题，usecols意思是调用这个文件中的哪及列
df2 = pd.read_csv(fpath,header=None,names=['data','url','title','val1','val2'],index_col='data',usecols=['data','url','title'])
df2

,url,title
data,,
2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志
2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...
2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志
2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...
...,...,...
2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志
2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感
2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志
2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志
2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感

### 打开excel文件

In [5]:
fcar = './data/saleinfo_month.xls'
df3 = pd.read_excel(fcar)
df3

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [6]:
df3['series']
#输出这一列的数据格式，数据格式为Series
print(type(df3['series']))

<class 'pandas.core.series.Series'>

In [7]:
df3[['series','cartype']]
#输出这一列数据格式，格式为DataFrame
print(type(df3[['series','cartype']]))

<class 'pandas.core.frame.DataFrame'>

### 创建一个具有标签索引的Series

In [8]:
#生成索引为abc，元素为1，2，3的数据
s = pd.Series([1,2,3],index=["a","b","c"])
s

a    1
b    2
c    3
dtype: int64

#### 使用python字典创建Series

In [9]:
#以字典方式创建一列数据
s = pd.Series({"a":10,"b":20,"c":30})
s

a    10
b    20
c    30
dtype: int64

In [10]:
#元素的索引
s.index

Index(['a', 'b', 'c'], dtype='object')

### 创建DaraFrame

In [11]:
aaa = {
    "姓名":['张三','李四四','王五'],
    "性别":['男','女','男'],
    "年龄":['12','15','18']
}
aaa_1 = pd.DataFrame(aaa)
(aaa_1)

    姓名 性别  年龄
0   张三  男  12
1  李四四  女  15
2   王五  男  18

In [12]:
#数据类型
aaa_1.dtypes

姓名    object
性别    object
年龄    object
dtype: object

In [13]:
#每列的标题
aaa_1.columns

Index(['姓名', '性别', '年龄'], dtype='object')

In [14]:
#每行的索引值
aaa_1.index

RangeIndex(start=0, stop=3, step=1)

### 取一列或多列

In [15]:
#取一列
print(df3['series'])
#取多列
print(df3[['series', 'cartype']])

0       德系
1       德系
2       德系
3       德系
4       德系
        ..
1862    自主
1863    自主
1864    自主
1865    自主
1866    自主
Name: series, Length: 1867, dtype: object
     series cartype
0        德系     SUV
1        德系     SUV
2        德系      轿车
3        德系      轿车
4        德系     SUV
...     ...     ...
1862     自主     SUV
1863     自主     SUV
1864     自主     SUV
1865     自主     SUV
1866     自主     SUV

[1867 rows x 2 columns]

In [16]:
#取索引为1的行
df3.loc[1]

series              德系
manufacture       北京奔驰
cartype            SUV
brand               奔驰
carclass         奔驰GLC
carlevel            中型
carprice            49
stat_month      202001
quantity         10535
revenue         516215
profit         92918.7
Name: 1, dtype: object

In [17]:
#取索引为2~4的行
df3.loc[2:4]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7

In [18]:
#取索引为48,86,56的'carclass','revenue'列
pdfp= df3.loc[[1861,1863],['carclass','revenue']]
pdfp

     carclass  revenue
1861     哈弗H1    73241
1863     哈弗H5    29874

In [22]:
df3.loc[1848,'series'] = '日系'
df3.loc[1848,'series']

'日系'

In [20]:
#取价格大于40的所有行中的'series'至'cartype'列
df3.loc[df3['carprice']>40,'series':'cartype']

     series manufacture cartype
1        德系        北京奔驰     SUV
2        德系        北京奔驰      轿车
3        德系        北京奔驰      轿车
7        德系        华晨宝马      轿车
11       德系        上汽大众      轿车
...     ...         ...     ...
1742     德系        北京奔驰      轿车
1745     德系        华晨宝马      轿车
1754     德系        一汽奥迪     SUV
1757     德系        一汽奥迪      轿车
1831     日系        一汽丰田     SUV

[96 rows x 3 columns]

In [24]:
#取价格小于40，且series为自主的所有行
df3.loc[(df3['carprice']<40)&(df3['series']=='自主')]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
111,自主,比亚迪汽车,SUV,比亚迪,S7,中型,11,202001,2407,26477,3177.24
112,自主,比亚迪汽车,SUV,比亚迪,宋,紧凑,12,202001,8704,104448,12533.80
113,自主,比亚迪汽车,SUV,比亚迪,元,小型,9,202001,2733,24597,4181.49
114,自主,比亚迪汽车,轿车,比亚迪,F0,微型,4,202001,829,3316,895.32
115,自主,比亚迪汽车,轿车,比亚迪,F3,紧凑,6,202001,11206,67236,11430.10
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36