## pandas练习

In [1]:
import pandas as pd

##### 打开csv文件

In [5]:
fpath='./data/spider.csv'
#以可读方式打开csv文件
df1 = pd.read_csv(fpath)
df1.index

RangeIndex(start=0, stop=1395, step=1)

In [57]:
#header=None意思是取消表头，names是每一列的标题，usecols意思是调用这个文件中的哪及列
df2 = pd.read_csv(fpath,header=None,names=['data','url','title','val1','val2'],index_col='data',usecols=['data','url','title'])
df2

,url,title
data,,
2015-4-28,http://www.apinpai.com/,采蘑菇的小姑娘;小蓓蕾组合;90;儿歌
2015-8-24,http://www.apinpai.com/,我;张国荣;80;励志
2015-12-14,http://www.movie.com/dor/,《恶棍天使》;2015.12.24;2016.2.13;天津橙子映像传媒有限公司、北京光线影...
2015-4-2,http://bj.qu114.com/,my way;张敬轩;90;励志
2015-12-19,http://www.movie.com/dor/,《失孤》;2015.3.20;2015.5.3;华谊兄弟传媒集团、源合圣影视、映艺娱乐;彭三...
...,...,...
2015-7-31,http://beijing.faxinxi.cn/,同道中人;张国荣;80;励志
2015-4-20,http://www.denghuo.com/,忘记拥抱;a-lin;80;伤感
2015-4-2,http://www.yifawang.cn/,路...一直都在;陈奕迅;90;励志
2015-4-15,http://www.wuhan58.com/index.php,像我一样骄傲;赵传;80;励志
2015-5-16,http://www.favolist.com/,最冷一天;陈奕迅;90;伤感

### 打开excel文件

In [15]:
fcar = './data/saleinfo_month.xls'
df3 = pd.read_excel(fcar)
df3

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [29]:
df3['series']
#输出这一列的数据格式，数据格式为Series
print(type(df3['series']))

<class 'pandas.core.series.Series'>

In [30]:
df3[['series','cartype']]
#输出这一列数据格式，格式为DataFrame
print(type(df3[['series','cartype']]))

<class 'pandas.core.frame.DataFrame'>

### 创建一个具有标签索引的Series

In [31]:
#生成索引为abc，元素为1，2，3的数据
s = pd.Series([1,2,3],index=["a","b","c"])
s

a    1
b    2
c    3
dtype: int64

#### 使用python字典创建Series

In [32]:
#以字典方式创建一列数据
s = pd.Series({"a":10,"b":20,"c":30})
s

a    10
b    20
c    30
dtype: int64

In [33]:
#元素的索引
s.index

Index(['a', 'b', 'c'], dtype='object')

### 创建DaraFrame

In [34]:
aaa = {
    "姓名":['张三','李四四','王五'],
    "性别":['男','女','男'],
    "年龄":['12','15','18']
}
aaa_1 = pd.DataFrame(aaa)
(aaa_1)

    姓名 性别  年龄
0   张三  男  12
1  李四四  女  15
2   王五  男  18

In [35]:
#数据类型
aaa_1.dtypes

姓名    object
性别    object
年龄    object
dtype: object

In [36]:
#每列的标题
aaa_1.columns

Index(['姓名', '性别', '年龄'], dtype='object')

In [37]:
#每行的索引值
aaa_1.index

RangeIndex(start=0, stop=3, step=1)

### 取一列或多列

In [38]:
#取一列
print(df3['series'])
#取多列
print(df3[['series', 'cartype']])

0       德系
1       德系
2       德系
3       德系
4       德系
        ..
1862    自主
1863    自主
1864    自主
1865    自主
1866    自主
Name: series, Length: 1867, dtype: object
     series cartype
0        德系     SUV
1        德系     SUV
2        德系      轿车
3        德系      轿车
4        德系     SUV
...     ...     ...
1862     自主     SUV
1863     自主     SUV
1864     自主     SUV
1865     自主     SUV
1866     自主     SUV

[1867 rows x 2 columns]

In [39]:
#取索引为1的行
df3.loc[1]

series              德系
manufacture       北京奔驰
cartype            SUV
brand               奔驰
carclass         奔驰GLC
carlevel            中型
carprice            49
stat_month      202001
quantity         10535
revenue         516215
profit         92918.7
Name: 1, dtype: object

In [40]:
#取索引为2~4的行
df3.loc[2:4]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.7

In [41]:
#取索引为48,86,56的'carclass','revenue'列
pdfp= df3.loc[[1861,1863],['carclass','revenue']]
pdfp

     carclass  revenue
1861     哈弗H1    73241
1863     哈弗H5    29874

In [42]:
df3.loc[1848,'series'] = '日系'
df3.loc[1848,'series']

'日系'

In [43]:
#取价格大于40的所有行中的'series'至'cartype'列
df3.loc[df3['carprice']>40,'series':'cartype']

     series manufacture cartype
1        德系        北京奔驰     SUV
2        德系        北京奔驰      轿车
3        德系        北京奔驰      轿车
7        德系        华晨宝马      轿车
11       德系        上汽大众      轿车
...     ...         ...     ...
1742     德系        北京奔驰      轿车
1745     德系        华晨宝马      轿车
1754     德系        一汽奥迪     SUV
1757     德系        一汽奥迪      轿车
1831     日系        一汽丰田     SUV

[96 rows x 3 columns]

In [44]:
#取价格小于40，且series为自主的所有行
df3.loc[(df3['carprice']<40)&(df3['series']=='自主')]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
111,自主,比亚迪汽车,SUV,比亚迪,S7,中型,11,202001,2407,26477,3177.24
112,自主,比亚迪汽车,SUV,比亚迪,宋,紧凑,12,202001,8704,104448,12533.80
113,自主,比亚迪汽车,SUV,比亚迪,元,小型,9,202001,2733,24597,4181.49
114,自主,比亚迪汽车,轿车,比亚迪,F0,微型,4,202001,829,3316,895.32
115,自主,比亚迪汽车,轿车,比亚迪,F3,紧凑,6,202001,11206,67236,11430.10
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [50]:
df3.query("brand=='宝马' & carprice>40")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [29]:
yubao = './data/beijing_tianqi_2018.csv'
tianqi = pd.read_csv(yubao)
tianqi

            ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3    2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4    2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1
..          ...    ...    ...    ...       ...    ...  ...     ...       ...
360  2018-12-27    -5℃   -12℃   多云~晴       西北风     3级   48       优         1
361  2018-12-28    -3℃   -11℃      晴       西北风     3级   40       优         1
362  2018-12-29    -3℃   -12℃      晴       西北风     2级   29       优         1
363  2018-12-30    -2℃   -11℃   晴~多云       东北风     1级   31       优         1
364  2018-12-31    -2℃   -10℃     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [30]:
a = tianqi['bWendu'].str.replace('℃','').astype(int)
tianqi['bWendu'] = a

In [31]:
a = tianqi['yWendu'].str.replace('℃','').astype(int)
tianqi['yWendu'] = a

In [32]:
tianqi

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3    2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4    2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
360  2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
361  2018-12-28      -3     -11      晴       西北风     3级   40       优         1
362  2018-12-29      -3     -12      晴       西北风     2级   29       优         1
363  2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1
364  2018-12-31      -2     -10     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [33]:
tianqi[(tianqi['bWendu']<30)&(tianqi['yWendu']>15)&(tianqi['tianqi']=='晴')&(tianqi['aqiInfo']=='优')]

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
249  2018-09-07      27      16      晴       西北风   3-4级   22       优         1

In [34]:
tianqi.loc[:,'温差'] = tianqi['bWendu']-tianqi['yWendu']
tianqi

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,温差
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9
...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8

In [38]:
def wencha_1(x):
    if x['bWendu'] > 25:
        return '高温'
    if x['yWendu'] < 0:
        return '低温'
    else:
        return '一般'

tianqi.loc[:,'温度类型'] = tianqi.apply(wencha_1,axis = 1)
tianqi

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,温差,温度类型
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,低温
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,低温
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,低温
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,低温
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,低温
...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,低温

In [45]:
tianqi=tianqi.assign(
    最高华氏度 = lambda x : x['bWendu']*9/5+32,
    最低华氏度 = lambda x : x['yWendu']*9/5+32,
)
tianqi

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,温差,温度类型,最高华氏度,最低华氏度,inplace
0,2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,低温,37.4,21.2,True
1,2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,低温,35.6,23.0,True
2,2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,低温,35.6,23.0,True
3,2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,低温,32.0,17.6,True
4,2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,低温,37.4,21.2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,低温,23.0,10.4,True
361,2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,低温,26.6,12.2,True
362,2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,低温,26.6,10.4,True
363,2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,低温,28.4,12.2,True
364,2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,低温,28.4,14.0,True

In [46]:
fpath = './data/缼失值处理.xlsx'
df4 = pd.read_excel(fpath,skiprows=2)
df4

    Unnamed: 0   姓名   科目    分数
0          NaN   小明   语文  85.0
1          NaN  NaN   数学  80.0
2          NaN  NaN   英语  90.0
3          NaN  NaN  NaN   NaN
4          NaN   小王   语文  85.0
5          NaN  NaN   数学   NaN
6          NaN  NaN   英语  90.0
7          NaN  NaN  NaN   NaN
8          NaN   小刚   语文  85.0
9          NaN  NaN   数学  80.0
10         NaN  NaN   英语  90.0

In [48]:
df4.dropna(how='all',axis=1,inplace = True)
df4

     姓名   科目    分数
0    小明   语文  85.0
1   NaN   数学  80.0
2   NaN   英语  90.0
3   NaN  NaN   NaN
4    小王   语文  85.0
5   NaN   数学   NaN
6   NaN   英语  90.0
7   NaN  NaN   NaN
8    小刚   语文  85.0
9   NaN   数学  80.0
10  NaN   英语  90.0

In [55]:
df4.dropna(how='all',axis = 0, inplace = True)
df4
df4['姓名'].fillna(method='ffill',axis=0,inplace = True)
df4

    姓名  科目    分数
0   小明  语文  85.0
1   小明  数学  80.0
2   小明  英语  90.0
4   小王  语文  85.0
5   小王  数学   NaN
6   小王  英语  90.0
8   小刚  语文  85.0
9   小刚  数学  80.0
10  小刚  英语  90.0

In [70]:
df4['分数'].fillna(0,inplace = True)
a = df4.copy()

In [81]:
a.loc[:,'分数'] = None
a
a.dropna(how='all',axis = 0,inplace = True)
a

    姓名  科目    分数
0   小明  语文  None
1   小明  数学  None
2   小明  英语  None
4   小王  语文  None
5   小王  数学  None
6   小王  英语  None
8   小刚  语文  None
9   小刚  数学  None
10  小刚  英语  None

In [85]:
a['科目'].str.len()

0     None
1     None
2     None
4     None
5     None
6     None
8     None
9     None
10    None
Name: 分数, dtype: object

In [86]:
a['科目'].str.isnumeric()

0     False
1     False
2     False
4     False
5     False
6     False
8     False
9     False
10    False
Name: 科目, dtype: bool