In [1]:
import pandas as pd
fpath = r"D:\Jupyter notebook\Numpy & Pandas\test.csv"
#设置csv表格格式,header=None表示不设置表头，names是一个列表，包含了每列的名称
#index_col：用作DataFrame的索引名
#usecols：用于读取的列名列表
df = pd.read_csv(fpath,header=None,names=
['date','url','title','val1','val2'],index_col='date',
usecols=['date','url','title','val1','val2']
)
df

                        url            title  val1  val2
date
deta                    url             name  val1  val2
2022-01-01  www.example.com    Example Title    10    20
2022-01-02  www.example.com    Another Title    30    40
2022-01-03  www.example.com  Another Title_1    50    60
2022-01-04  www.example.com  Another Title_2    70    90

In [2]:
mydataset = {
    'sites':["谷歌","菜鸟教程","维基"],
    'number':[1,2,3]
}
#将上述字典变成DataFrame格式
myvar = pd.DataFrame(mydataset)
myvar

  sites  number
0    谷歌       1
1  菜鸟教程       2
2    维基       3

In [3]:
fpath = r"D:\Jupyter notebook\Numpy & Pandas\test.csv"
df = pd.read_csv(fpath,header=0)
print(df)

         deta              url             name  val1  val2
0  2022-01-01  www.example.com    Example Title    10    20
1  2022-01-02  www.example.com    Another Title    30    40
2  2022-01-03  www.example.com  Another Title_1    50    60
3  2022-01-04  www.example.com  Another Title_2    70    90

In [4]:
#生成一个Series的数据
s = pd.Series([1,2,3],index=['a','b','c'])
print(s,type(s))

a    1
b    2
c    3
dtype: int64 <class 'pandas.core.series.Series'>

In [5]:
print(s.index)
s.values

Index(['a', 'b', 'c'], dtype='object')

array([1, 2, 3], dtype=int64)

In [6]:
s_1 = pd.Series({"a":10,"b":20,"c":30})
myvar = pd.Series(s_1,index=["a","c"],name="test_test")
print(myvar)

a    10
c    30
Name: test_test, dtype: int64

In [7]:
sites = {1: "Google", 2: "Runoob", 3: "Wiki"}

myvar = pd.Series(sites, index = [1,3], name="RUNOOB-Series-TEST" )

print(myvar)

1    Google
3      Wiki
Name: RUNOOB-Series-TEST, dtype: object

In [8]:
data = {
    "姓名":['张三','李四','王五','赵六'],
    "年龄":[30,40,50,60],
    "工资":[30000,40000,50000,60000]
}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)
print(df.columns)
print(df.index)

   姓名  年龄     工资
0  张三  30  30000
1  李四  40  40000
2  王五  50  50000
3  赵六  60  60000
姓名    object
年龄     int64
工资     int64
dtype: object
Index(['姓名', '年龄', '工资'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [9]:
fpath = r"D:\Jupyter notebook\Numpy & Pandas\test.csv"
df3 = pd.read_csv(fpath)
df3

         deta              url             name  val1  val2
0  2022-01-01  www.example.com    Example Title    10    20
1  2022-01-02  www.example.com    Another Title    30    40
2  2022-01-03  www.example.com  Another Title_1    50    60
3  2022-01-04  www.example.com  Another Title_2    70    90

In [10]:
#返回标题为'url'的一列，其数据格式为Series
df3['url']

0    www.example.com
1    www.example.com
2    www.example.com
3    www.example.com
Name: url, dtype: object

In [11]:
#返回多列，数据格式为Data.Frame
df3[['deta','name']]

         deta             name
0  2022-01-01    Example Title
1  2022-01-02    Another Title
2  2022-01-03  Another Title_1
3  2022-01-04  Another Title_2

In [12]:
#返回索引为0的一行，数据格式为Series
df3.loc[0]

deta         2022-01-01
url     www.example.com
name      Example Title
val1                 10
val2                 20
Name: 0, dtype: object

In [13]:
#返回0~1行，数据格式为DaraFrame
df3.loc[0:1]

         deta              url           name  val1  val2
0  2022-01-01  www.example.com  Example Title    10    20
1  2022-01-02  www.example.com  Another Title    30    40

In [14]:
#返回0~2行，列标题为'deta','val1','val2'的列
df3.loc[0:2,['deta','val1','val2']]

         deta  val1  val2
0  2022-01-01    10    20
1  2022-01-02    30    40
2  2022-01-03    50    60

In [15]:
#返回0~2行的'deta'至'name'列
df3.loc[0:2,'deta':'name']

         deta              url             name
0  2022-01-01  www.example.com    Example Title
1  2022-01-02  www.example.com    Another Title
2  2022-01-03  www.example.com  Another Title_1

In [16]:
xls = r'D:\Jupyter notebook\Numpy & Pandas\data\saleinfo_month.xls'
car = pd.read_excel(xls)
car

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
0,德系,北京奔驰,SUV,奔驰,奔驰GLA,紧凑,33,202001,8002,264066,60735.20
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.70
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.00
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.30
4,德系,华晨宝马,SUV,宝马,宝马X1,紧凑,36,202001,6823,245628,58950.70
...,...,...,...,...,...,...,...,...,...,...,...
1862,自主,长城汽车,SUV,哈弗,哈弗H2,小型,10,201901,17268,172680,17268.00
1863,自主,长城汽车,SUV,哈弗,哈弗H5,紧凑,13,201901,2298,29874,5676.06
1864,自主,长城汽车,SUV,哈弗,哈弗H6,紧凑,13,201901,42188,548444,98719.90
1865,自主,长城汽车,SUV,哈弗,哈弗H8,中大型,19,201901,1020,19380,4845.00
1866,自主,长城汽车,SUV,哈弗,哈弗H9,中大型,24,201901,928,22272,2895.36

In [17]:
#查询索引为1的行中，列标题为'brand','carprice','quantity'的元素
car.loc[1,['brand','carprice','quantity']]

brand          奔驰
carprice       49
quantity    10535
Name: 1, dtype: object

In [18]:
#查询索引4~9的行中列标题为'series','manufacture','cartype'的元素
car.loc[4:9,['series','manufacture','cartype']]

  series manufacture cartype
4     德系        华晨宝马     SUV
5     德系        华晨宝马      轿车
6     德系        华晨宝马      轿车
7     德系        华晨宝马      轿车
8     德系        上汽大众     SUV
9     德系        上汽大众     SUV

In [19]:
#查询所有carprice大于40的行
car.loc[car['carprice']>40,:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
1,德系,北京奔驰,SUV,奔驰,奔驰GLC,中型,49,202001,10535,516215,92918.7
2,德系,北京奔驰,轿车,奔驰,奔驰C级,中型,41,202001,13087,536567,144873.0
3,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,202001,9133,484049,91969.3
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
11,德系,上汽大众,轿车,大众,辉昂,中大型,50,202001,278,13900,4170.0
...,...,...,...,...,...,...,...,...,...,...,...
1742,德系,北京奔驰,轿车,奔驰,奔驰E级,中大型,53,201901,5202,275706,30327.7
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0
1754,德系,一汽奥迪,SUV,奥迪,奥迪Q5,中型,46,201901,12275,564650,152456.0
1757,德系,一汽奥迪,轿车,奥迪,奥迪A6L,中大型,58,201901,13209,766122,183869.0
1831,日系,一汽丰田,SUV,丰田,普拉多,紧凑,50,201901,2495,124750,28692.5

In [20]:
#查询所有韩系的轿车，且价格在10万以上的
car.loc[
    (car['series']=='韩系')&(car['cartype']=='轿车')&
    (car['carprice']>=10),:
]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
45,韩系,北京现代,轿车,现代,领动,紧凑,13,202001,6549,85137,22987.00
46,韩系,北京现代,轿车,现代,名图,中型,15,202001,11790,176850,51286.50
48,韩系,北京现代,轿车,现代,索纳塔,中型,21,202001,1406,29526,7381.50
49,韩系,北京现代,轿车,现代,悦动,紧凑,10,202001,497,4970,695.80
55,韩系,东风悦达起亚,轿车,起亚,K3,紧凑,12,202001,14902,178824,17882.40
...,...,...,...,...,...,...,...,...,...,...,...
1784,韩系,东风悦达起亚,轿车,起亚,K3,紧凑,12,201901,12424,149088,34290.20
1785,韩系,东风悦达起亚,轿车,起亚,K4,中型,16,201901,2658,42528,8505.60
1786,韩系,东风悦达起亚,轿车,起亚,K5,中型,20,201901,2691,53820,9687.60
1787,韩系,东风悦达起亚,轿车,起亚,福瑞迪,紧凑,11,201901,838,9218,1106.16
1788,韩系,东风悦达起亚,轿车,起亚,赛拉图,紧凑,10,201901,419,4190,1215.10

## query方法

In [21]:
#查询价格大于60w的车
car.query("carprice>60")

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [22]:
#输出所有大于60w的，列标题为'brand','carprice','stat_month'的每一行
car.loc[lambda car:car['carprice']>60,['brand','carprice','stat_month']]

     brand  carprice  stat_month
7       宝马        61      202001
160     宝马        61      201912
316     宝马        61      201911
472     宝马        61      201910
627     宝马        61      201909
777     宝马        61      201908
919     宝马        61      201907
1063    宝马        61      201906
1205    宝马        61      201905
1345    宝马        61      201904
1484    宝马        61      201903
1617    宝马        61      201902
1745    宝马        61      201901

In [24]:
#编写自己的函数，查询品牌为宝马，且售价大于40万的
def query_my_data(car):
    return (car['carprice']>40)&(car['brand']=='宝马')
car.loc[query_my_data,:]

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [25]:
#查询品牌为宝马且售价大于40万的车
car.query("brand=='宝马' and carprice>40")
#一个或多个条件下过滤，query()的语法都保持不变

,series,manufacture,cartype,brand,carclass,carlevel,carprice,stat_month,quantity,revenue,profit
7,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,202001,12229,745969,186492.0
160,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201912,9914,604754,145141.0
316,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201911,12912,787632,102392.0
472,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201910,11344,691984,131477.0
627,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201909,14907,909327,109119.0
777,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201908,12903,787083,125933.0
919,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201907,12190,743590,133846.0
1063,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201906,14344,874984,122498.0
1205,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201905,13429,819169,245751.0
1345,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201904,12060,735660,147132.0
1484,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201903,12445,759145,136646.0
1617,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201902,6315,385215,57782.2
1745,德系,华晨宝马,轿车,宝马,宝马5系,中大型,61,201901,11016,671976,114236.0

In [4]:
import numpy as np
a = np.arange(24).reshape(4,6)
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [5]:
np.hsplit(a,2)

[array([[ 0,  1,  2],
        [ 6,  7,  8],
        [12, 13, 14],
        [18, 19, 20]]),
 array([[ 3,  4,  5],
        [ 9, 10, 11],
        [15, 16, 17],
        [21, 22, 23]])]