In [ ]:
import pandas as pd

data = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]},
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]])
print(data)
print(data.loc['a'])  # 输出a层级的所有数据
print(data.loc[('a', 1)])  # 输出(a,1)这个位置的数据
print(data.loc['a':'b', 'B'])  # 输出a到b层级的B列数据

In [3]:
import pandas as pd

data = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]},
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

def condition(row):
    return row['A'] > 2 and row['B'] < 8

print(data.loc[data.apply(condition, axis=1)])  # 输出符合条件的行数据

     A  B   C
b 1  3  7  11

In [11]:
file = './data/beijing_tianqi_2018.csv'
df = pd.read_csv(file)
df_1 = df.copy()
df_1

            ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3    2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4    2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1
..          ...    ...    ...    ...       ...    ...  ...     ...       ...
360  2018-12-27    -5℃   -12℃   多云~晴       西北风     3级   48       优         1
361  2018-12-28    -3℃   -11℃      晴       西北风     3级   40       优         1
362  2018-12-29    -3℃   -12℃      晴       西北风     2级   29       优         1
363  2018-12-30    -2℃   -11℃   晴~多云       东北风     1级   31       优         1
364  2018-12-31    -2℃   -10℃     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [12]:
df_1["bWendu"] = df_1["bWendu"].str.replace('℃','').astype(int)
df_1["yWendu"] = df_1["yWendu"].str.replace('℃','').astype(int)

In [13]:
df_1

            ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0    2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
1    2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2    2018-01-03       2      -5     多云        北风   1-2级   28       优         1
3    2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
4    2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1
..          ...     ...     ...    ...       ...    ...  ...     ...       ...
360  2018-12-27      -5     -12   多云~晴       西北风     3级   48       优         1
361  2018-12-28      -3     -11      晴       西北风     3级   40       优         1
362  2018-12-29      -3     -12      晴       西北风     2级   29       优         1
363  2018-12-30      -2     -11   晴~多云       东北风     1级   31       优         1
364  2018-12-31      -2     -10     多云       东北风     1级   56       良         2

[365 rows x 9 columns]

In [17]:
a = df_1['ymd'].str.startswith('2018-03')
df_1[a]

           ymd  bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
59  2018-03-01       8      -3     多云       西南风   1-2级   46       优         1
60  2018-03-02       9      -1   晴~多云        北风   1-2级   95       良         2
61  2018-03-03      13       3   多云~阴        北风   1-2级  214    重度污染         5
62  2018-03-04       7      -2   阴~多云       东南风   1-2级  144    轻度污染         3
63  2018-03-05       8      -3      晴        南风   1-2级   94       良         2
64  2018-03-06       6      -3   多云~阴       东南风   3-4级   67       良         2
65  2018-03-07       6      -2   阴~多云        北风   1-2级   65       良         2
66  2018-03-08       8      -4      晴       东北风   1-2级   62       良         2
67  2018-03-09      10      -2     多云       西南风   1-2级  132    轻度污染         3
68  2018-03-10      14      -2      晴       东南风   1-2级  171    中度污染         4
69  2018-03-11      11       0     多云        南风   1-2级   81       良         2
70  2018-03-12      15       3   多云~晴        南风   1-2级  174    中度污染         4
71  2018-03-13      17       5   晴~多云        南风   1-2级  287    重度污染         5
72  2018-03-14      15       6   多云~阴       东北风   1-2级  293    重度污染         5
73  2018-03-15      12      -1   多云~晴       东北风   3-4级   70       良         2
74  2018-03-16      10      -1     多云        南风   1-2级   58       良         2
75  2018-03-17       4       0   小雨~阴        南风   1-2级   81       良         2
76  2018-03-18      13       1   多云~晴       西南风   1-2级  134    轻度污染         3
77  2018-03-19      13       2     多云        东风   1-2级  107    轻度污染         3
78  2018-03-20      10      -2     多云        南风   1-2级   41       优         1
79  2018-03-21      11       1     多云       西南风   1-2级   76       良         2
80  2018-03-22      17       4   晴~多云       西南风   1-2级  112    轻度污染         3
81  2018-03-23      18       5     多云        北风   1-2级  146    轻度污染         3
82  2018-03-24      22       5      晴       西南风   1-2级  119    轻度污染         3
83  2018-03-25      24       7      晴        南风   1-2级   78       良         2
84  2018-03-26      25       7     多云       西南风   1-2级  151    中度污染         4
85  2018-03-27      27      11      晴        南风   1-2级  243    重度污染         5
86  2018-03-28      25       9   多云~晴        东风   1-2级  387    严重污染         6
87  2018-03-29      19       7      晴        南风   1-2级  119    轻度污染         3
88  2018-03-30      18       8     多云        南风   1-2级   68       良         2
89  2018-03-31      23       9   多云~晴        南风   1-2级  125    轻度污染         3

In [35]:
sale = pd.read_excel('./data/sale.xlsx')
sale2 = pd.read_excel('./data/sale2.xlsx')
sale3 = pd.read_excel('./data/sale3.xlsx')
member = pd.read_excel('./data/member.xlsx')

In [36]:
sale

  userid  payment
0      a     2000
1      c     3500

In [37]:
sale2

  userid  payment
0      a     2000
1      c     3500
2      a      500
3      b     1000

In [38]:
sale3

  userid  payment
0      a     2000
1      c     3500
2      e      600

In [39]:
member

  userid  age
0      a   23
1      b   46
2      c   32
3      d   19

In [40]:
#inner,内连接，取两表的交集进行连接
member.merge(sale,how='inner',on='userid')

  userid  age  payment
0      a   23     2000
1      c   32     3500

In [43]:
#注意inner只返回俩表的交集
member.merge(sale2,how='inner',on = 'userid')

  userid  age  payment
0      a   23     2000
1      a   23      500
2      b   46     1000
3      c   32     3500

In [50]:
#左连接，保留左侧的键，进行配对，不存在的值使用空值NaN填充
member.merge(sale2,how='left',on = 'userid')

  userid  age  payment
0      a   23   2000.0
1      a   23    500.0
2      b   46   1000.0
3      c   32   3500.0
4      d   19      NaN

In [51]:
#右连接，保留右侧的键进行配对，不存在的值使用NaN填充
member.merge(sale2,how='right',on = 'userid')

  userid  age  payment
0      a   23     2000
1      c   32     3500
2      a   23      500
3      b   46     1000

In [52]:
#outer保留左右俩数据框中所有键值对，不存在的的以缺失值补充
member.merge(sale,how = 'outer', on = 'userid')

  userid  age  payment
0      a   23   2000.0
1      b   46      NaN
2      c   32   3500.0
3      d   19      NaN

In [56]:
pd.merge(member,sale3,on=['userid','userid'],how = 'outer')

  userid   age  payment
0      a  23.0   2000.0
1      b  46.0      NaN
2      c  32.0   3500.0
3      d  19.0      NaN
4      e   NaN    600.0

万能公式
pd.merge(left, right, on = ['key1', 'key2'], how = 'inner')
left 和 right：要合并的两个数据框。

on：用于指定合并时使用的列，这里指定了两列 key1 和 key2，即在这两列的值相同的行之间进行合并。如果 left 和 right 数据框中不是同名的列，可以使用 left_on 和 right_on 参数来分别指定左右两个数据框中的列名。

how：用于指定合并方式，这里使用了 inner，表示只保留左右两个数据框中都存在的键值对。其他可选的合并方式包括：
    outer：保留左右两个数据框中的所有键值对，不存在的部分以缺失值填充。
    left：保留左侧数据框中的所有键值对，并在右侧数据框中查找匹配的键值对。
    right：保留右侧数据框中的所有键值对，并在左侧数据框中查找匹配的键值对。

In [54]:
import pandas as pd

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

result = pd.merge(left, right, on=['key1', 'key2'], how='inner')
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [57]:
result['key2'].str.len()

0    2
1    2
2    2
Name: key2, dtype: int64

In [59]:
import numpy as np
import pandas as pd

In [65]:
df1 = np.arange(1,17).reshape(4,4)
df2 = np.arange(17,33).reshape(4,4)
df1 = pd.DataFrame(df1,columns=list('abcd'))
df2 = pd.DataFrame(df2,columns=list('abcd'))
print(df1,df2)

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16     a   b   c   d
0  17  18  19  20
1  21  22  23  24
2  25  26  27  28
3  29  30  31  32

In [69]:
da_ta = pd.concat([df1,df2],axis=1)
da_ta

    a   b   c   d   a   b   c   d
0   1   2   3   4  17  18  19  20
1   5   6   7   8  21  22  23  24
2   9  10  11  12  25  26  27  28
3  13  14  15  16  29  30  31  32